spring:
  datasource:
    url: jdbc:h2:file:{ database_path }

server:
  port: { server_port }

app:
  file-storage: { file_storage_path }
  auth-token: { auth_token }

  api-title: { api_title }
  api-url: { api_url }
